JWT_SECRET=
BLIZZARD_CLIENTID=
BLIZZARD_SECRET=
BLIZZARD_CALLBACK=
REDIS_URL=localhost
REDIS_PORT=6379
MINIMUM_CHARACTER_LEVEL=110
CODECOV_TOKEN=
FILE_LOCATION=../files
DISCORD_CLIENTID=
DISCORD_SECRET=
DISCORD_CALLBACK=
DISCORD_APP_WEBHOOK=
BASE_URL=
