version: '3'
services:
  database:
    image: postgres
    container_name: "rbp-postgres"
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: rbp_backend
    volumes:
      - rbp-postgres:/var/lib/docker/volumes/rbp-postgres/_data
  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
volumes:
  rbp-postgres:
    external: true