$item-poor: #9d9d9d;
$item-common: #fff;
$item-uncommon: #1eff00;
$item-rare: #198eff;
$item-epic: #c600ff;
$item-legendary: #ff8000;
$item-artifact: #e5cc80;
$item-blizzard: #0cf;

$quality-colors: (
  0: $item-poor,
  1: $item-common,
  2: $item-uncommon,
  3: $item-rare,
  4: $item-epic,
  5: $item-legendary,
  6: $item-artifact,
  7: $item-blizzard
);

@each $qualityId, $color in $quality-colors {
  .quality-border-#{$qualityId} {
    border-color: $color;
  }

  .quality-color-#{$qualityId} {
    color: $color;
  }
}
