@import './blizzard/classes.scss';
@import './blizzard/items.scss';

a {
  text-decoration: none;
}

.justify-end-image-content {
  .v-responsive__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

// Default page fade transition
.page-enter-active,
.page-leave-active {
  transition: opacity 250ms cubic-bezier(0.55, 0, 0.1, 1);
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

// Sliding page transition
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-right-enter,
.slide-left-leave-active {
  opacity: 0;
  transform: translate(-30px, 0);
}
