// $body-font-family: 'Montserrat', sans-serif;
$font-size-root: 16px;
// $heading-font-family

$border-radius-root: 0;
// $border-radius-root: 10px;
// $material-dark: (
//   bg-color: #191726,
//   background: #141517,
//   cards: #1e2033
// );

$material-dark: (
  bg-color: #141517,
  background: #131519,
  cards: #1d1e22
);

$card-text-font-size: 1rem;

// .v-toolbar__content,
// .v-toolbar__extension {
//   // @include make-container-max-widths;
//   padding: 0;
//   margin: 0 auto;
// }

// .v-card {
//   &__title {
//     font-family: Khand, sans-serif;
//     font-size: 30px;
//     font-weight: 700;
//   }
// }
