$body-font-family: 'Quicksand', sans-serif;
$font-size-root: 16px;
// $heading-font-family
$border-radius-root: 3px;

$material-dark: (
  bg-color: #141517,
  background: #141517,
  cards: #202124
);

$card-text-font-size: 1rem;

// .v-toolbar__content,
// .v-toolbar__extension {
//   // @include make-container-max-widths;
//   padding: 0;
//   margin: 0 auto;
// }

// .v-card {
//   &__title {
//     font-family: Khand, sans-serif;
//     font-size: 30px;
//     font-weight: 700;
//   }
// }
